{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'record/starter-template.css' %}" />

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{% url 'record:index' %}">PracticeSession</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">

    <h1>Quick Start</h1>
    <form name="quickSubmit" action="{% url 'record:createClass' %}" method="post" onsubmit="DoSubmit();">
        {% csrf_token %}

        <label for="practiceTypeQuick">Practice Type</label>
        <input type="text" name="type" id="type" value=""/>

        <input type="hidden" name="start_0" id="id_start_0" value=""/>
        <input type="hidden" name="start_1" id="id_start_1" value=""/>
        {% comment %}
        <!-- This is a pretty ghetto way of priming the pump, this is hacky and not a long term solution. -->
        {% endcomment %}
        <input type="hidden" name="rating" id="rating" value=3 />
        <input type="hidden" name="feel" id="feel" value="Good" />
        <input type="hidden" name="attemptCount" id="attemptCount" value=1 />
        <input type="submit" class="btn btn-primary" value="Start"/>
    </form>


    <h1>Previous Practice Sessions</h1>
    {% if practice_session_list %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Start</th>
            <th scope="col">Finish</th>
            <th scope="col">Rating</th>
            <th scope="col">Feel</th>
            <th scope="col">Attempts</th>
        </tr>
        </thead>
        <tbody>
        {% for practice_session in practice_session_list %}
        <tr>
            <td scope="row"><a href="{% url 'record:updateClass' practice_session.id %}"> {{ practice_session.type }}</a></td>
            <td>{{ practice_session.start|date:"Y/m/d h:m:s" }}</td>
            <td>{{ practice_session.finish|date:"Y/m/d h:m:s"}}</td>
            <td>{{ practice_session.rating }}</td>
            <td>{{ practice_session.feel }}</td>
            <td>{{ practice_session.attemptCount }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No practice sessions are available.</p>
    {% endif %}


<!-- Bootstrap core JavaScript ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script>
    function DoSubmit() {
      //document.quickSubmit.start.value = moment().toISOString()
      document.quickSubmit.start_0.value = moment().format("YYYY-MM-DD"); //https://github.com/moment/moment/issues/3455
      document.quickSubmit.start_1.value = moment().format("hh:mm:ss"); //https://stackoverflow.com/questions/27978819/extract-time-from-moment-js-object
      console.log("Test moment.js startQuick:", document.quickSubmit.start_0, document.quickSubmit.start_1);
      return true;
    }

</script>
</main>
</body>
